:host ::ng-deep .p-button {
  background: #3b82f6  !important; 
  border-color: #3b82f6  !important;
  color: white !important;
  border-radius: 10px;
}

:host ::ng-deep .p-button:hover {
  background: #316dce  !important;
  border-color: #316dce  !important;
  color: white !important;
}