
.btn {
  border: none;
  background: #3a6df0;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
  font-family: Lexend, sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}


.btn.primary {
  background: #3a6df0;
  color: #fff;
}

.btn.delete {
  background: #f31e1e;
  color: #fff;
}

.btn.filter {
  background: #3f3f3f;
  color: #fff;
}

.btn.primary:hover {
  background: #275cee;
}

.btn.secondary {
  background: #374151;
  color: #fff;
  font-size: 1em;
}

.btn.secondary:hover {
  background: #4b5563;
}

.btn.cart {
  background: #3a6df0;
  color: #fff;
  width: 100%;
  display: block;
}

.btn.cart:hover {
   background: #275cee;
}

.btn.sm {
  padding: 10px 15px;
  font-size: 0.70rem;
  
}

.btn.md {
  padding: 10px 15px;
  font-size: 0.9rem;
}

.btn.lg {
  padding: 10px 15px;
  font-size: 1rem;
}

.i {
  font-family: "Material Symbols Outlined";
  font-size: 20px;
}

@media (max-width:768px){
  .btn.sm {
 
  font-size: 0.68rem;
  
}

}