:root {
  --primary: #0da6f2;


}

body,
.page-container {

  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  min-height: 100vh;
  transition: color 0.3s, background-color 0.3s;
}

.breadcrumb {

  max-width: 1200px;

  margin: 0 auto;
}


.content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;


}

.shipping-form {
  flex: 1 1 60%;
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-size: 0.8em;
  border: 1px solid var(--line-header);
  transition: background 0.3s, color 0.3s;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 0;
}

.titles>p {
  font-size: 1em;
  font-weight: 500;

}

.summary {
  flex: 1 1 35%;
  background: var(--bg-color);
  padding: 2rem;
  font-size: 0.9em;
  border-radius: 12px;
  height: fit-content;
  border: 1px solid var(--line-header);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: calc(70px + 1rem);
  transition: background 0.3s, color 0.3s;
}


.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-grid label {
  display: flex;
  flex-direction: column;
}

.form-grid input,
.form-grid select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.btn-pago {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.shipping-form h1 {
  font-size: 1.6em;
  margin-bottom: 0.6em;
}


input::placeholder {
  color: var(--form-placeholder);
}

input[type="text"],
input[type="number"],
input[type="month"] {
  background-color: var(--bg-color);
  transition: background-color 0.3s;
}

select {
  color: var(--form-placeholder);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

.form-grid input:focus,
.form-grid select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(13, 166, 242, 0.2);
}


.shipping-options {
  margin-top: 1rem;
}

.shipping-options h2 {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 1rem;
}

.option {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: border 0.2s;
}

.option:hover {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(13, 166, 242, 0.2);
}

.option input {
  margin-right: 1rem;
}

.option-info {
  flex-grow: 1;
}

.option span {
  font-weight: bold;
}

.alert {
  background: var(--bg-color);
  border-left: 4px solid #ffcc00;
  padding: 0.75rem;
  border-radius: 6px;
  color: #664d03;
  font-size: 0.9rem;
}


.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  color: var(--text-sumary);
  transition: color 0.3s;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.btn-primary {
  width: 100%;
  background-color: #0b8cd1;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1.5rem;
  cursor: pointer;
}

.btn-primary:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #cccccc;
  color: var(--btn-disabled);
  border-color: #cccccc;
  transition: color 0.3s;
}

.btn-secondary {
  display: block;
  border: none;
  text-align: center;
  background: #f0f0f0;
  color: #333;
  padding: 0.75rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

.btn-secondary:hover {
  background: #e0e0e0;
}

input[type="text"],
input[type="month"],
select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

input[type="text"]:focus,
input[type="month"]:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(13, 166, 242, 0.2);
}


input[type="radio"]:focus,
select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(13, 166, 242, 0.2);
}


.alert {
  background: #fff8e1;
  border-left: 4px solid #ffcc00;
  padding: 0.75rem;
  border-radius: 6px;
  color: #664d03;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.slide {
  animation: slideIn 0.6s ease forwards;
  opacity: 0;
  transform: translateX(50px);
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.datos-pago {
  display: flex;
  flex-wrap: wrap;
}



@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .summary {
    position: relative;
    top: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
}