.product-card {

   
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: var(--text-color);
}

:host ::ng-deep .p-dialog {
    border: none !important;
    max-width: 40rem !important;
    width: 90%;
    min-width: 10rem !important;

}

@media (min-width: 768px) {

    .product-card {
        width: 80%;
    }

}

@media (max-width: 768px) {

    .product-card-header h3 {

        font-size: 1.1em !important;
    }



    .product-card {
        width: 100%;
    }

}


.product-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px !important;

}

.product-card-header h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.product-card-header button {
    color: #9ca3af;
    background: none;
    border: none;
    cursor: pointer;
}

.product-card-header button:hover {
    color: white;
}

.product-card-price {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--price);
    margin-bottom: 1rem;

}

.product-card-description {
    color: var(--cart-info-p);
    margin-bottom: 1.5rem;
    font-size: 0.875rem;

}

.product-card-options {
    margin-bottom: 1.5rem;

}

.product-card-options h4 {
    font-weight: 500;

    margin-bottom: 0.5rem;
    color: var(--cart-info-p);

}

.color-options {
    display: flex;
    gap: 0.5rem;

}

.color-options button {
    width: 2rem;

    height: 2rem;

    border-radius: 50%;

    border-width: 2px;

    border-style: solid;
    cursor: pointer;
}

.color-options button:nth-child(1) {
    background-color: white;
    border-color: #0ea5e9;
}


.color-options button:nth-child(2) {
    background-color: black;
    border-color: #4b5563;
}


.color-options button:nth-child(3) {
    background-color: #7c3aed;
    border-color: #4b5563;
}



.size-options {
    display: flex;
    gap: 0.5rem;

    flex-wrap: wrap;
}

.size-options button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s ease;
}

.size-options button.default {
    background-color: #374151;
    color: #d1d5db;
}

.size-options button.default:hover {
    background-color: #0ea5e9;

    color: white;
}

.size-options button.selected {
    background-color: #0ea5e9;

    color: white;
}