.articulo {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #ccc;

}

.articulo img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    width: 80%;
}

.title {
    font-size: 1.1em;
    font-weight: bold;
}

.talle {
    font-size: 0.9em;
    color: var(--cart-info-p);
    transition: color 0.3s;
}

.price {
    font-size: 1.1em;
    font-weight: 500;
}

.price-delete {
    display: flex;
    justify-content: space-between;
}

span{
    color: rgb(255, 36, 36);
    transition: color 0.3s;
    cursor: pointer;
}

span:hover{
    color: rgb(201, 5, 5);
}

@media (max-width: 768px) {
    .title {
        font-size: 0.9em;

    }
}