<div class="page">
  <main class="main">
    <header class="main-header">
      <h1>Mis Pedidos</h1>
    
    </header>

     <div class="orders">
     @for (pedido of pedidos; track $index) {
       <div class="order-card">
           <div class="order-header">
          <div>
            <p class="order-id">PEDIDO #{{pedido.id}}</p>
            <p class="order-date">{{pedido.creadoEn | date:'dd MMMM yyyy'}}</p>
          </div>
          <span class="status" [ngClass]="{
            'delivered': pedido.estado==='Entregado',
            'in-process': pedido.estado==='En proceso',
            'shipped': pedido.estado==='Enviado',
            'cancelled': pedido.estado==='Cancelado'
          }">
            {{pedido.estado || 'En proceso'}}
          </span>
        </div>
      @for (producto of pedido.productos; track $index) {

     

        <div class="order-body">
          <div class="header-producto">
            <h3 class="title">{{producto.producto.titulo}}</h3>
          </div>
          <div class="order-images">
            @for (imagen of producto.producto.imagenes; track $index) {
              <img
                 [src]="getImageUrl(
                  imagen
                 )"
                 [alt]="producto.producto.titulo">
            }
           
          </div>

         
        </div>
      }
       <div class="order-info">
            <p class="total">Total: ${{pedido.total}}</p>
         
          </div>
    </div>
     }
    </div>
  </main>
</div>
