:root {
  --primary: #0da6f2;
  --bg-light: #f5f7f8;
  --bg-dark: #101c22;
  --text-dark: #000;
  --text-light: #fff;
}

.page {
  padding: 2rem;
  font-family: 'Work Sans', sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}



.main-header h1 {
  font-size: 2rem;
}

.search {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.order-card {
  background: var(--bg-color);
  border: 1px solid var(--line-header);
  padding: 1rem;
  border-radius: 12px;
  transition: 0.3s background, 0.3s border;
}

.order-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.order-id {
  font-weight: 600;
}

.order-date {
  font-size: 0.85rem;
  color: #555;
}

.status {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: bold;
}

.order-body {
  display: flex;

  flex-direction: column;
  gap: 15px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--line-header);
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 1em;
}

.order-images {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;
}

.order-images img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.more-items {
  position: absolute;
  left: 50px;
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.order-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.total {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}


@media (max-width: 768px) {

  .main-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .main-header h1 {
    font-size: 1.3em;
  }
}