<main>
  <section class="container">
    <div class="search-box-small">
      <span class="material-symbols-outlined search-icon">search</span>
      <input type="text" placeholder="Buscar camisetas..." autocomplete="off" />

    </div>
    <div class="header-container">
      <h2 class="title">Camisetas de Fútbol</h2>
      <app-button texto="Filtro" icon="material-symbols-outlined" type="filter_alt" (click)="onFilterClick()">
      </app-button>
    </div>
    <div class="cards-grid">
      @if (products().length > 0) {
      @for (item of products(); track $index) {
      <app-card-products [producto]="item" (addProduct)="cartService.addProduct($event)" [rol]="rol"
        (deshabilitarProduct)="onDeshabilitarProducto($event)" [isLoggedIn]="isLoggedIn"></app-card-products>
      }
      }@else {

      <app-message-empty mensage="No hay productos actualmente."></app-message-empty>

      }
    </div>
  </section>
  <app-filtro [visible]="isFilterOpen" (visibleChange)="isFilterOpen = $event"></app-filtro>
</main>
