body {
  background: var(--bg-color);
  font-family: Arial, sans-serif;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  padding: 20px 0;
}

.title {
  color: var(--text-color);
  font-size: 25px;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: var(--bg-color);
  border: 1px solid var(--line-card);
  border-radius: 12px;
  overflow: hidden;
  transition: .3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #6f9aff;
  box-shadow: 0px 4px 20px rgba(111, 154, 255, 0.3);
}

.card-image {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.badge {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px 10px;
  color: white;
  font-size: 12px;
  border-radius: 6px;
  font-weight: bold;
}

.badge-red {
  background: red;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.card:hover .overlay {
  opacity: 1;
}

.view-btn {
  border: none;
  padding: 10px 15px;
  background: #3a6ef059;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.view-btn:hover,
.btn-add:hover {
  background: #1e4cc3;
}

.card-info {
  padding: 15px;
}

.item-title {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 8px;
   transition: color 0.3s ease;
}

.price {
  color: var(--price);
  font-size: 20px;
  margin-bottom: 12px;
  transition: color 0.3s ease;
}
