<p-drawer header="Tu Carrito" [(visible)]="visible" (visibleChange)="visibleChange.emit($event)" position="right"
    [closable]="true" [style]="{width: '360px'}">

    <div class="cart-body">
        @for (item of products(); track $index) {
        <div class="cart-item">
            <img [src]="getImageUrl(item.imagenes[0].url)"
                alt="Camiseta Real Madrid">
            <div class="cart-item-info">
                <h4>{{item.nombre}}</h4>
                <p>Talle: {{item.talla}}</p>
                <p>{{item.precio}}</p>
            </div>
            <div class="cart-item-actions">
                <input type="number" value="1">
                <button (click)="removeProduct($index)"><span class="material-symbols-outlined">delete</span></button>
            </div>
        </div>
        }

    </div>

    @if (products().length > 0) {
    <div class="cart-footer">
        <div class="subtotal">
            <span>Subtotal</span>
            <span>{{subTotal()}}</span>
        </div>
        <app-button texto="Finalizar compra" size="lg" variant="cart"></app-button>
    </div>
    }@else {
    <div class="container-cart-vacio">
        <h3>Ups, carrito vacio</h3>
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
    </div>
    }
</p-drawer>