<p-drawer header="Tu Carrito" [(visible)]="visible" (visibleChange)="visibleChange.emit($event)" position="right"
    [closable]="true" [style]="{width: '360px'}">

    <div class="cart-body">
        @for (item of products(); track $index) {
        <div class="cart-item">
            <app-articulo [product]="item" size="small"></app-articulo>

        </div>
        }

    </div>

    @if (products().length > 0) {
    <div class="cart-footer">
        <div class="subtotal">
            <span>Subtotal</span>
            <span>${{subTotal()}}</span>
        </div>
        <app-button (click)="procederAlPago()" texto="Finalizar compra" size="md" variant="cart"></app-button>
    </div>
    }@else {
    <div class="container-cart-vacio">
        <h3>Ups, carrito vacio</h3>
        <span class="material-symbols-outlined">
            shopping_cart
        </span>
    </div>
    }
</p-drawer>