
<div class="form-group">
  <label for="product-image" id="title">Imagen del Producto</label>
  
  <div class="dropzone-container">
  
    <label for="dropzone-file-large" 
    class="dropzone"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    >
      <div class="dropzone-content">
        @if(cantidadSelect > 0){
          <span class="cantidad">{{cantidadSelect}}</span>
        }
        <span class="material-symbols-outlined">upload_file</span>
        <p><span class="highlight">Click para cargar</span> o arrastra y suelta</p>
        <p class="helper-text">SVG, PNG, JPG</p>
      </div>
      <input id="dropzone-file-large" type="file" 
      (change)="onFileSelected($event)"
      multiple
      />
    </label>

    <div class="dropzone-container-small">
      <label for="dropzone-file-small" class="dropzone-small">
        <div class="dropzone-content-small">
          <span class="material-symbols-outlined" id="icon">upload_file</span>
          <p><span class="highlight">Imagen del producto</span></p>
        </div>
        <input id="dropzone-file-small" type="file" (change)="onFileSelected($event)"  />
      </label>
    </div>
  </div>
</div>
