* {
  margin: 0;
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --header-bg: #ffffffcc;
  --header-text: #252525;
  --header-fondo: #dfdfdf;
  --nav-text: #525151;
  --footer-bg: #182333;
  --footer-text: #ffffff;
  --action-btn-hover: #dfdfdf81;
  --login-action-hover: #a7a5a5;
  --line-header: #b4b4b480;
  --reset-pass: color: rgb(105, 105, 105);
  --input-focus-border: #22222270;
  --button-bg: #3a6df0;
  --button-text: #ffffff;
  --button-hover-bg: #0056b3;
  --bg-card: #d6d6d6;
  --line-card: #929292;
  --price: #3572ff;
  --cart-info-p: #3b3b3b;
  --toast-bg: rgb(192, 192, 192);
  --toast-success: rgb(2, 151, 2);
  --toast-info-detail-color: rgb(63, 63, 63);
  --active: rgb(44, 44, 44);
  --btn-add-variant: #4a78c2;
  --bg-dashboard: rgb(218, 218, 218);
  --dropzone-bg: rgb(247, 247, 247);
  --color-dropzone: #282b30;
  --border-dropzone: rgb(187, 187, 187);
  --label-form-product: #484a4d;
  --bg-form-product: #ffffff;
  --form-placeholder: #6d727a;

}

.dark {

  --bg-color: #181818;
  --text-color: #ffffff;
  --header-bg: #181818;
  --header-text: white;
  --header-fondo: rgb(34, 34, 34);
  --nav-text: #cfcfcf;
  --line-header: #619af741;
  --footer-bg: #030303;
  --footer-text: #c2c2c2;
  --input-focus-border: #3b83f670;
  --action-btn-hover: #3b83f670;
  --reset-pass: white;
  --button-bg: #3a6df0;
  --button-text: #ffffff;
  --button-hover-bg: #6666ff;
  --line-card: #333;
  --price: #6f9aff;
  --cart-info-p: #aaa;
  --toast-bg: rgba(22, 22, 22, 0.904);
  --toast-success: rgb(31, 190, 31);
  --toast-info-detail-color: rgb(219, 219, 219);
  --active: rgb(107, 107, 107);
  --btn-add-variant: #4381e6;
  --bg-dashboard: #212d3f;
  --dropzone-bg: #374151;
  --color-dropzone: #8e97a8;
  --border-dropzone: rgb(236, 236, 236);
  --label-form-product: #d1d5db;
  --bg-form-product: #374151;
  --form-placeholder: #9ca3af;

}

body {
  --p-inputtext-color: var(--text-color);
  --p-dialog-background: var(--bg-color);
  --p-button-text-secondary-hover-background: var(--bg-color);
  --p-button-text-secondary-active-background: var(--active);
  --p-inputtext-placeholder-color: var(--text-color);
  --p-inputtext-background: var(--bg-color);
  --p-floatlabel-bg: var(--bg-color);
  --p-inputtext-focus-border-color: var(--input-focus-border);
  --p-drawer-background: var(--bg-color);
  --p-drawer-border-color: none;
  --p-drawer-color: var(--text-color);
  --p-toast-success-background: var(--toast-bg);
  --p-toast-success-border-color: var(--toast-bg);
  --p-toast-success-color: var(--toast-success);
  --p-toast-success-close-button-hover-background: var(--toast-bg);
  --p-toast-success-detail-color: var(--toast-info-detail-color);
  --p-toast-warn-background: var(--toast-bg);
  --p-toast-warn-border-color: var(--toast-bg);
  --p-toast-warn-color: rgb(255, 38, 38);
  --p-toast-warn-detail-color: var(--toast-info-detail-color);
  --p-toast-warn-close-button-hover-background: var(--toast-bg);
  --p-select-background: var(--bg-form-product);
  --p-select-border-color: var(--bg-form-product);
  --p-select-placeholder-color: var(--form-placeholder);
  --p-select-focus-border-color: #3b82f6;
  --p-select-overlay-background: var(--bg-form-product);
  --p-select-overlay-color: var(--text-color);
  --p-select-option-focus-background: var(--bg-form-product);
  --p-select-option-focus-color: var(--text-color);
  --p-select-overlay-border-color: var(--bg-form-product);
  --p-select-option-color: var(--text-color);
  --p-select-color: var(--text-color);
  --p-dialog-border-color:var(--bg-color);
  --p-menu-background:var(--bg-color);
  --p-menu-color:var(--text-color);
  --p-menu-border-color:var(--bg-color);
  --p-menu-submenu-label-color:var(--text-color);
  --p-menu-item-color:var(--text-color);
  --p-menu-item-focus-background:var(--bg-color);
  --p-menu-item-focus-color:var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}



header {
  background-color: var(--header-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  transition: background-color 0.3s, color 0.3s;
}


.search-box input::placeholder {
  color: var(--header-text);
  transition: color 0.3s;
}

.search-box .search-icon {

  color: var(--header-text);
  transition: color 0.3s;
}


button:hover {
  background-color: var(--button-hover-bg);
  transition: background-color 0.3s, color 0.3s;
}