form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 90%;
    overflow: hidden;
    padding: 10px 0px;
}

.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    overflow: hidden;
}



.reset>span {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: 900;
}

:host ::ng-deep .p-floatlabel {
    width: 100% !important;
}


:host ::ng-deep .p-dialog-content {
    overflow-y: hidden !important;
}

input {
    font-size: 10px;
}

.alerta {
    padding: 13px 25px;
    color: white;
    font-weight: 600;
}


.alerta.error {
    background-color: red;
}

.alerta.success {
    background-color: rgb(48, 141, 64);
}


.form-fields ::ng-deep .p-floatlabel,
input {
    width: 100% !important;
    padding: 0.75rem !important;
    font-size: 1rem;
    border-radius: 5px !important;
      border: 1px solid var(--form-placeholder) !important;

    border: none;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

.form-fields ::ng-deep .p-floatlabel,
input ::placeholder {
    color: var(--form-placeholder) !important;

}

:host ::ng-deep .p-inputtext:focus {
  box-shadow: none !important;
    
}
