<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-left">
                <div class="logo">
                    <span class="material-symbols-outlined icon">sports_soccer</span>
                    <h2 class="name-tienda">Sport Tees</h2>
                </div>
            </div>
       

            <app-navbar [rol]="user?.rol!" [isLoggedIn]="isLoggedIn"></app-navbar>
         
            <div class="header-right">
                <div class="search-box">
                    <span class="material-symbols-outlined search-icon">search</span>
                    <input type="text" placeholder="Buscar camisetas..." autocomplete="off" />
                </div>

                <div class="actions">
                    <button (click)="handleUserMenuClick($event)" class="action-btn">
                        <span class="material-symbols-outlined">person</span>

                    </button>
                    @if(!isLoggedIn){
                    <p class="ingresa">Ingresa</p>
                    }
                    @if (user?.rol === "CLIENTE" || user == null) {
                    <button class="action-btn cart-btn" (click)="onCartClick()">
                        <span class="material-symbols-outlined">shopping_cart</span>
                        <span class="cart-badge" style="color: white;">{{cartService.getCart().length}}</span>
                    </button>
                    }

                    <button (click)="toggleTheme()" class="action-btn">
                        @if (isDark) {
                        <span class="material-symbols-outlined">
                            dark_mode
                        </span>
                        }@else {
                        <span class="material-symbols-outlined">
                            light_mode
                        </span>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

@if(userName){
<app-dropmenu [label]="userName"></app-dropmenu>
}
@if(!isLoggedIn){
<app-login [(visible)]="loginVisible" (visibleChange)="loginVisible = $event"></app-login>
}